
.serviceCard {
  transition: .3s all ease-in;
  transform: scale(.9);
}
.serviceCard:hover {
  transform: scale(1);
}

.projectCard{
  height: 500px;
}

.card_img_wrapper {
  overflow: hidden;
  max-height: 270px;

}
img.card_img_top:hover {
  transform: translateY(-80%);
}
img.card_img_top {
  transition: transform 3s ease-in-out;
  width: 100%;
}
