.img-style {
  height:200px;
  border-radius: 50%;
  border: 3px solid #e91e63;
  max-width: 100%;
}
.technology {
  display: flex;
  flex-wrap: wrap;
}

.technology span {
  background: #5a6372;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 13px;
  height: 26px;
  color: white;
}