* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.btn-bg {
  background-color: #e91e63;
}

.text-color{
  color: #e91e63
}

.react-reveal {
  animation-duration: 2000ms !important;
}
