* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.btn-bg {
  background-color: #e91e63;
}

.text-color {
  color: #e91e63;
}

/* .react-reveal {
  animation-duration: 3000ms !important;
}
.serviceCard > .react-reveal {
  animation-duration: 2000ms !important;
} */

@media (max-width: 450px) {
  .contact-info {
    font-size: 18px !important;
  }

  .social-icon-style {
    height: 2.5rem !important;
    width: 2.5rem !important;
    font-size: 1.3rem !important;
  }
}
