.header-bg {
  background-image: linear-gradient(45deg, transparent 0%, #10101069 0%),
    url("../../images/background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 200px;
}

.header-section {
  width: 100%;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn-outline-danger {
  border-color: #e91e63;
}

.btn-outline-danger:hover {
  background-color: #e91e63;
}
.example {
  position: absolute !important;
}

.caca {
  font-size: 2.7vw;
}
